<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Chao ban</h1>
    <p>
      Chuyen di <%= @tour.title %> vua co cap nhat. Co the ban se quan tam day<br>
    </p>
  </body>
</html>
