<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Chào mừng bạn đến với mạng xã hội Travel Go, <%= @user.username %></h1>
    <p>
      Bạn đã đăng ký tài khoản thành công tại trang travelgo.com,
      Tên tài khoản của bạn là: <%= @user.username %>.<br>
    </p>
    <p>
      Click vào đường link đến kết nối với chúng tôi: <%= @url %>.
    </p>
    <p>Cám ơn bạn đã tham gia và chúc bạn một ngày tốt lành!</p>
  </body>
</html>