<div class="PubWrapers Light BorderBottom">
  <div class="container soft-ends">
    <div class="col-md-2 NewsPreviewText">Many Thanks to</div>
    <div class="col-md-6">
      <img alt="" src="http://i.imgur.com/k1kfoTn.png">
    </div>
  </div>
</div>
<div class="PubWrapers Dark">
  <div class="container solf-ends" style="text-align: center; padding-top: 20px; padding-bottom: 20px;">
    <b>db-team - CoderSchool</b> 
  </div>
</div>