<div class="Hero HeroTall" style="background-image:url(http://www.australia.com/content/australia/en/places/fraser-island/highlights/jcr:content/hero/image.adapt.1920.medium.jpg)">
  <div class="container">
    <div class="HeroInfo">
      <h1 class="HeroInfoHeader HeroTextHeader" style="font-size: 55px;">Never Travel Alone</h1>
      <%= link_to 'Join with us <i class="fa fa-angle-double-right" aria-hidden="true"></i>'.html_safe, signup_url, class: "btn btn-success btn-primary-dark" %>
    </div>
  </div>
</div>