<div class="PubWrapers Light BorderEnds">
  <div class="container">
    <div class="CountStatsContainer">
      <div class="CountStatsWrap CountStatImg">
        <img alt="" src="https://d1jvd8eenns311.cloudfront.net/img/3PhotosStacked.png">
      </div>
      <div class="CountStatsWrap CountStatInfo">
        <i class="fa fa-male CountStatsIcon"></i>
        <div class="CountStats">
            <h3 id="MembersOnMT" class="CountStatsHeading"><%= User.count %></h3>
            <h4 class="CountStatsSubHeading">Members on TravelGo</h4>
        </div>
      </div>
      <div class="CountStatsWrap CountStatInfo">
        <i class="fa fa-suitcase CountStatsIcon"></i>
        <div class="CountStats">
            <h3 id="MembersOnMT" class="CountStatsHeading"><%= Tour.count %></h3>
            <h4 class="CountStatsSubHeading">Total Tours created</h4>
        </div>
      </div>
      <div class="CountStatsWrap CountStatInfo">
        <i class="fa fa-pencil-square CountStatsIcon"></i>
        <div class="CountStats">
            <h3 id="MembersOnMT" class="CountStatsHeading"><%= Blog.count %></h3>
            <h4 class="CountStatsSubHeading">Total Travel Blogs wrote</h4>
        </div>
      </div>
    </div>
  </div>
</div>