<div class="center jumbotron">
  <h1>Welcome to the TravelGo App</h1>

  <h2>
    This is the home page for the Travel Go social!
  </h2>

  <%= link_to "Sign up now!", signup_url, class: "btn btn-lg btn-primary" %>
</div>