<span id="approved_members" class="tag tag-info" data-toggle="tooltip" data-placement="bottom" title="<%= tour.approved_member_names %>"> <%= tour.approved_members.count %> </span>  thanh vien duoc chon  
<br/>

<span id="total_member" class="tag tag-info" data-toggle="tooltip" data-placement="bottom" title="<%= tour.pending_member_names %>"> <%= tour.pending_members.count %> </span> thanh vien dang ky