<div class="container">
<h4 class="members_info"><%= "#{@tour.total_approved_members.to_s} Approved / #{@tour.total_pending_members.to_s} Pending" %></h4>

<% @tour.sorted_members.each do |member| %>
<%= render 'member_list', tour: @tour, member: member %>
<% end %>

</div>