//@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import  "bootsy";
@import "blogs";
@import "welcome";

a:hover  {
    color: #44babb;
    text-decoration: none;
}
a:focus {
    outline: medium none;
    text-decoration: none;
}
html {
    font-family: Arial,sans-serif;
    background-color: #F5F8FA;
}
body {
    color: #292f33;
    font-size: 14px;
    line-height: 18px;
}

ol, ul {
    list-style: outside none none;
    list-style-type: none;
}

nav.index {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid #eee;
  height: 46px;
  color: #292f33;
  .btn {
    -moz-appearance: none;
    -moz-user-select: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
  }
}

.content {
    margin-top: 50px;
}